.container {
    font-family: "Montse";
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .container .laster {
    font-size: 1.2rem;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .container .socialMedia {
    display: flex;
  
    justify-content: center;
  }
  /*
  .containerNight {
    color: #7f7f85;
  }
  .containerDay {
    color: #7f7f85;
  }
  */
  .spanDown {
    margin-top: 50px;
    background-color: transparent;
    box-shadow: 0 1px 0 0 #7f7f856e;
  }
  
  .left {
    width: 35%;
  }
  /*
  .left .nameNight {
    color: #ffffff;
  }
  .left .nameDay {
    color: #000000;
  }*/
  .right {
    width: 55%;
  }
  .icons {
    display: flex;
  }
  .icons img {
    width: 35px;
    height: auto;
    margin: 7px;
  }
  .iconsNight img {
    filter: contrast(1%);
  }
  @media screen and (max-width: 1000px) {
    .socialMedia {
      flex-direction: column;
    }
    .left {
      width: 100%;
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
  }
  .container .country {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
 
  .country img {
    width: 20px;
    height: 20px;
    margin: 5px;
    
  }
  .pickCountryNight {
    filter: contrast(1%);
  }
  

  .selector {
    font-family: 'Montse', sans-serif;
    border: none;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    color: #7f7f85;
  }
  .selector option {
    padding: 10px;
    border: none;
    outline: none;
  } /*
  .selectorDay {
    color: #4e4e4e;
    background-color: #ffffff;
  }
  .selectorNight {
    color: #7f7f85;
    background-color: #1f2028;
  }*/
  