.container h2,
.container h3,
.container h4 {
  color: #c742e2;
}
.container blockquote {
  background: #c742e213;
  border-color: #c742e2;
}
.container blockquote p {
  color: #c742e2;

}
.container a {
  color: #c742e2;
}
