.container h2,
.container h3,
.container h4 {
  color:#FF4545;
}
.container blockquote {
  background: #ff45450e;
  border-color: #FF4545;
}
.container blockquote p {
  color: #FF4545;

}
.container a {
  color: #FF4545;
}
